.board-list{
  & .board{
    & .header{
      font-size: 20px;
      & .score{
        color: var(--scoreIconColor);
        margin-right: 20px;
      }
      & .res-count{
        color: var(--newIconColor);
        margin-right: 20px;
      }
      & .favorites-count{
        color: var(--favoriteIconColor);
        margin-right: 20px;
      }
    }
    & .title{
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
  & .comment{
    border: 1px solid var(--borderColor);
  }
}

.board{
  &-title{
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom: 0px;
    display: flex;
  }
  &-tool{
    &-box{
      & button{
        & span.button-text{
          font-size: 18px;
          margin-left: 5px;
          vertical-align: top;
        }
        margin-right: 10px;
        vertical-align: middle;
        color: var(--noActiveIconColor);
        font-size: 20px;
        border: 0px;
        background-color: var(--clearColor);
        &.score{
          color: var(--scoreIconColor);
        }
        &.new-button{
          color: var(--newIconColor);
        }
        &.favorite-button{
          &:hover{
            color: var(--favoriteIconColor);
          }
        }
        &.favorite-button{
          &.my-favorite{
            color: var(--favoriteIconColor);
          }
        }
      }
    }
  }
  &-show{
    &-header{
      margin-bottom: 0px;
      & .category-box{
        background-color: var(--clearColor);
        border: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
      }
    }
    &-body{
      margin-bottom: 0px;
      ul.nav-pills {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

      }
      ul.nav-pills > li.active > a{
        color: #000;
        background-color: #fff;
      }
      ul.nav-pills > li > a{
        background-color: #fff;
      }
      &-content{
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        & ul{
          margin-bottom: 0;
          padding-left: 10px;
          padding-right: 10px;
          & li{
            max-width: 230px;
          }
        }
      }
    }
  }
}
