.comment{
  background-color: var(--bgColor);
  border-bottom: 1px solid var(--borderColor);
  &-box{
    margin-left: 20px;
    margin-right: 20px;
  }
  &-header{
    font-size: 16px;
    &-num{
      color: var(--commentHeaderNumColor);
    }
    &-name{
      color: var(--commentHeaderNameColor);
      margin-left: 20px;
    }
    &-name.mine{
      color: var(--myCommentNameColor);
    }
    &-created_at{
      color: #111;
      margin-left: 20px; 
    }
    &-hash_id{
      color: #111;
      margin-left: 20px; 
    }
  }
  &-body{
    font-size: 14px;
    & .comment-image-list{
      margin-bottom: 0px;
      & li{
        & a{
          margin-bottom: 0px;
        }
      }
    }
  }
  &-tools{
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
    & button{
      & span.button-text{
        font-size: 18px;
        margin-left: 5px;
        vertical-align: top;
      }
      vertical-align: middle;
      color: var(--noActiveIconColor);
      font-size: 20px;
      border: 0px;
      background-color: var(--clearColor);
    }
    &-reply{
      & button{
        &:hover{
          color: var(--replyIconColor);
          & .glyphicon{
          }
        }
      }
    }
    &-favorite{
      & button{
        &:hover{
          color: var(--favoriteIconColor);
          & .glyphicon{
          }
        }
      }
    }
    &-favorite{
      &.my-favorite{
        & button{
          color: var(--favoriteIconColor);
        }
      }
    }
  }
  &-modal{
    &-body{
      padding: 0 0 10px 0;
      & .relation-title{
        padding: 10px 20px;
        border-bottom: 1px solid var(--borderColor);
      }
    }
  }
}
