:root {
  --bgColor: #ffffff;
  --borderColor: #e7e7e7;
  --noActiveIconColor: #d7d7d7;
  --scoreIconColor: #fab81e;
  --myCommentNameColor: #e0245e;
  --newIconColor: #17bf63;
  --replyIconColor: #1da1f2;
  --favoriteIconColor: #e0245e;
  --commentHeaderNumColor: #1da1f2;
  --commentHeaderNameColor: #17bf63;
  --clearColor: rgba(0,0,0,0);
}
